.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 600px;
}
.Num{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 700px;
}
.Op{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    max-width: 700px;
}

.box{
    width: 40px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(215, 204, 204);
}

.op{
    padding: 6px 15px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
}
.num{
    padding: 6px 10px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 10px;
}
.b{
    padding: 20px 20px;
    font-size: 4em;
}
#box1{
    border: 2px solid black;
}
